<h1>Editing Book</h1>

<%= form_for(@blog, url:"/blogs/#{@blog.id}") do |f| %>

    <h4>Title</h4>

    <%= f.text_field :title %>

    <h4>Body</h4>

    <%= f.text_area :body %>

    <%= f.submit 'Update Book' %>

<% end %>

<%= link_to "show", blog_path(@blog.id)%>
<%= link_to "back", blogs_new_path%>